<footer class="pmd-footer bg-dark pmd-footer-dark footer pt-5">
    <div class="row">
      <div class="d-flex">
        <img src="assets/Logo_ecriture_blanche.png" class="size" alt="Logo">
        <div class="titreLogo p-2">Nini Testeuse</div>

      <div class="col-md">
        <div class="row justify-content-center">
          <div class="col-4 col-md-3">
            <ul class="pmd-footer-nav flex-column">
              <li class="pmd-listing-title fw-bold h4">Catégories</li>
              <li><a class="dropdown-item" routerLink="alimentations">Alimentation</a></li>
              <li><a class="dropdown-item" routerLink="animaux">Animaux</a></li>
              <li><a class="dropdown-item" routerLink="cosmetique">Cosmétique</a></li>
            </ul>
          </div>
          <div class="col-4 col-md-3">
            <ul class="pmd-footer-nav flex-column">
              <li class="pmd-listing-title fw-bold h4">Social</li>
              <li><a class="dropdown-item" routerLink="apropos">A propos</a></li>
              <li><a class="dropdown-item" routerLink="histoire">Histoire</a></li>
              <li><a class="dropdown-item" routerLink="contact">Contact</a></li>
              <li><a class="dropdown-item" routerLink="newsletter">Newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
</footer>
