.card-title {
  font-size: 3rem;
  text-align: center;
  color: limegreen;
}
.container{
  height: calc(100vh - 150px);
}
.card{
  margin-top: 50px;
}
.descrition{
  font-size: 22px;
  margin-top: 10px;
  height: 300px;
}
.size_picture_presentation{
  height: 500px;
  width: 500px;
}
