<div class="container" *ngIf="card$ | async as cardSingle">
  <div class="card">
    <div class="card-body">
      <button (click)="backClicked()" class="btnBack">
        <mat-icon class="">keyboard_arrow_left</mat-icon>
        Retour</button>
      <h5 class="card-title">{{cardSingle.title | uppercase}}</h5>
      <p class="card-text descrition">{{cardSingle.description}}</p>
      <p class="card-text">Catégorie : {{cardSingle.category}}</p>
      <div class="d-flex">
        <div class="imageList" >
          <img *ngFor="let img of cardSingle?.image let i = index"
          width="250" class="size_picture_presentation" [src]="img" alt="{{cardSingle.title}}"
          (click)="changeImage(i)"
          (mouseover)="changeImage(i)">
        </div>
        <div >
          <img class="principalIMG" [src]="imageDefault" alt="{{cardSingle.title}}">
        </div>
      </div>
    </div>
  </div>
  <app-test-details [card]="cardSingle"></app-test-details>
</div>
