 <div class="d-flex justify-content-between flex-wrap boite">
    <div class="">
      <img src="{{card.image[0]}}" class="size" alt="{{card.title}}">
      <p class="m-2">{{ birthdate | date: "dd MMMM" }}</p>
    </div>
    <div >
      <h2 class="card-title text-center">{{card.title}}</h2>
      <p class="card-text description">{{card.description}}</p>
      <p class="card-text">Catégorie : {{card.category}}</p>
      <a routerLink="/detailproduit" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="detailproduit" class="btn btn-secondary" (click)="handClickId()">Découvrir</a>
    </div>
  </div>

